doctype html
html
  head
    title Example
    meta(charset="utf-8")
  body
    #container
      if flash.success
        div.success=flash.success
      h2 Example
      ul
      each item in items
        li
          a(href='/examples/#{item.id}') #{item.name}
          | &nbsp;(#{item.price} $)
      br
      pager
      br
      a(href='/insert') Ajouter