doctype html
html
  head
    title Example
    meta(charset="utf-8")
  body
    #container
      if flash.error
        div.error
          ul
          each err in flash.error
            if err != ""
              li #{err}

      h2 Add new item
      form(action="/insert", method="post", enctype="multipart/form-data")
        input(type="text", placeholder="Name", name="name", value=val('name', 'test'))
        br
        input(type="text", placeholder="Price", name="price", value=val('price'))
        br
        input(type="file", name="profile[]", multiple="true")
        br
        button(type="submit") Send
      p note max upload: #{format('filesize', uploadSize)}