doctype html
html
  head
    title Example
    meta(charset="utf-8")
  body
    #container
      if flash.error
        div.error
          ul
          each err in flash.error
            li #{err}

      h2 Add new item
      form(action="/insert", method="post")
        input(type="text", placeholder="Name", name="name")
        br
        input(type="text", placeholder="Price", name="price")
        br
        button(type="submit") Send